<!-- Content heading -->
<% if (title) { %>
	<h1><%= title %></h1>
<% } else {
	res.redirect('/')
} %>

<%- messages() %>

<ul>
	<li><a href="classification">Add New Classification</a></li>
	<li><a href="inventory">Add New Vehicle</a></li>
</ul>

<h2>Manage Inventory</h2>
<p>Choose a classification to see those inventory items.</p>
<%- classificationSelect %>

<table id="inventoryDisplay"></table>

<noscript>JavaScript must be enabled to use this page.</noscript>
<script>document.querySelector('main').setAttribute('id', 'noGrid');</script>
<script src="../../js/inventory.js"></script>